<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Подробная информация о товаре</h4>
<b th:text="${product.name}"></b>
<b th:text="${product.city}"></b>
<b th:text="${product.price}"></b>
<b th:text="${product.description}"></b>

<hr>
<form th:action="@{'/product/delete/' + ${product.id}}" method="post">
    <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>